<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand text-white" href="/" id="logo"style="font-size:40px; margin-right:40%">One Minute Pitch</a>
    

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/"> <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link login-text text-white" href="/login" style="font-size:40px; margin-right:40%">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link login-text text-white" href="/user"style="font-size:40px; margin-right:40%">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link login-text text-white" href="/logout"style="font-size:40px; margin-right:40%">Logout</a>
            </li>
        </ul>
    </div>
</nav>
